<div id="enter-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Room Name</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputFile">Room</label>
          <input class="form-control room-query" />
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Username</label>
          <input class="form-control username-query" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-login">Enter</button>
      </div>
    </div>
  </div>
</div>
