@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "keyframes";
.bubble {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  clear: both;
  .avatar {
    bottom: 5px;
    .status {
      bottom: 0;
    }
  }
  .body {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
  }
  .body:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
  }
  &.income {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
    .avatar {
      left: 0;
      .status {
        right: 4px;
      }
    }
    .body {
      background: #ebebeb;
      color: #333333;
      border-radius: 8px 8px 8px 0;
    }
    .body:before {
      left: -30px;
      border-right-color: #ebebeb;
      border-right-width: 12px;
    }
    @include animation-name(slideFromLeft);
  }
  &.outcome {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
    .avatar {
      right: 0;
      .status {
        left: 4px;
      }
    }
    .body {
      background: #7266ba;
      color: #ffffff;
      border-radius: 8px 8px 0 8px;
    }
    .body:before {
      right: -30px;
      border-left-color: #7266ba;
      border-left-width: 12px;
    }
    @include animation-name(slideFromRight);
  }
  &.system {
    text-align: center;
    color: $grey;
    &.info {
      color: $info;
    }
    &.warn {
      color: $warning;
    }
    &.error {
      color: $danger;
    }
    .avatar {
      display: none;
    }
    @include animation-name(slideFromRight);
  }
}
