<div class="message-list">
  <h6>Mini Chat</h6>
  <webrtc-message type="income" body="test income message"></webrtc-message>
  <webrtc-message type="outcome" body="test outcome message"></webrtc-message>
  <webrtc-message type="system" body="test system message"></webrtc-message>
  <webrtc-message type="system info" body="test system info message"></webrtc-message>
  <webrtc-message type="system error" body="test system error message"></webrtc-message>
  <webrtc-message type="system warn" body="test system warn message"></webrtc-message>
</div>
<webrtc-message-new></webrtc-message-new>
