<div class="chat_area">
  <ul class="list-unstyled">
    <li class="left clearfix">
      <webrtc-message type="income" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="income" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="outcome" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="income" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="outcome" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="system" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="income" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="outcome" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="income" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
    <li class="left clearfix">
      <webrtc-message type="outcome" body="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
  from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia."></webrtc-message>
    </li>
  </ul>
</div>
