<div class="videos">
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
    <webrtc-peer name="test"></webrtc-peer>
</div>
