<div class="row">
  <div id="custom-search-input">
    <div class="input-group col-md-12">
      <input type="text" class="search-query form-control" placeholder="Search..." />
      <button class="btn" type="button">
          <o class="fa fa-search"></o>
      </button>
    </div>
  </div>
  <div class="member_list">
    <ul class="list-unstyled">
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
      </li>
      <li class="left clearfix">
        <webrtc-room></webrtc-room>
      </li>
    </ul>
  </div>
</div>
