.input-group {
  width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  .search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
  }
  .search-query:focus+button {
    z-index: 3;
  }
}
