@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "variables";
@import "mixins";
@import "keyframes";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $bg;
  margin-bottom: 60px;
  min-height: 100%;
}

.chat-column {
  height: calc(100vh - 180px);
  .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    img {
      display: block;
      border-radius: 20px;
      height: 100%;
    }
    .status {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
    }
  }
  .status {
    &.off {
      border: 1px solid #5a5a5a;
      background: #ffffff;
    }
    &.online {
      background: #4caf50;
    }
    &.busy {
      background: #ffc107;
    }
    &.offline {
      background: #ed4e6e;
    }
  }
  .input-group {
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    .search-query {
      background: #fff none repeat scroll 0 0 !important;
      border-radius: 4px;
      height: 33px;
      margin-bottom: 0;
    }
    .search-query:focus+button {
      z-index: 3;
    }
  }
  .room {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .peer {
      position: relative;
      padding: 0 0 0 50px;
      display: block;
      cursor: pointer;
      margin: 0 0 20px;
      .avatar {
        top: 0;
        left: 0;
      }
      .status {
        bottom: 0;
        left: 28px;
      }
      .name {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .info {
        font: 200 14px/20px "Raleway", sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .btns-message-new {
    float: left;
    margin-top: 13px;
    width: 100%;
  }
  .btn-upload {
    color: #999999;
  }
  .message-list {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    h6 {
      font-size: 20px;
      margin: 0 0 20px;
    }
    .bubble {
      position: relative;
      overflow: hidden;
      clear: both;
      margin-bottom: 5px;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      .avatar {
        .status {
          bottom: 0;
        }
      }
      .body {
        padding: 12px;
        font-size: 16px;
        position: relative;
      }
      .body:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        border: 18px solid transparent;
        border-bottom-width: 0;
      }
      &.income {
        max-width: 600px;
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
        .avatar {
          left: 0;
          .status {
            right: 4px;
          }
        }
        .body {
          background: #ebebeb;
          color: #333333;
          border-radius: 8px 8px 8px 0;
        }
        .body:before {
          left: -30px;
          border-right-color: #ebebeb;
          border-right-width: 12px;
        }
        @include animation-name(slideFromLeft);
      }
      &.outcome {
        max-width: 600px;
        padding: 0 58px 0 0;
        text-align: right;
        float: right;
        .avatar {
          right: 0;
          .status {
            left: 4px;
          }
        }
        .body {
          background: #7266ba;
          color: #ffffff;
          border-radius: 8px 8px 0 8px;
        }
        .body:before {
          right: -30px;
          border-left-color: #7266ba;
          border-left-width: 12px;
        }
        @include animation-name(slideFromRight);
      }
      &.system {
        text-align: center;
        color: $grey;
        &.info {
          color: $info;
        }
        &.warn {
          color: $warning;
        }
        &.error {
          color: $danger;
        }
        .avatar,
        .author {
          display: none;
        }
        .body {
          font-size: 12px;
          line-height: 0;
        }
        @include animation-name(slideFromRight);
      }
    }
    .author {
      font-size: 10px;
      line-height: 0;
    }
  }
}
