  @import url('https://fonts.googleapis.com/css?family=Roboto');
  @import url('https://fonts.googleapis.com/css?family=Lato');
  @import "variables";
  @import "mixins";
  @import "keyframes";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap";
  @import "~font-awesome/scss/font-awesome";
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    background-color: $dark;
    min-height: 100%;
  }

  .video-self {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }

  .videos {
    height: 100vh;
    width: 100vw;
    @for $i from 1 through 100 {
      webrtc-peer:first-child:nth-last-child( #{$i}),
      webrtc-peer:first-child:nth-last-child( #{$i})~webrtc-peer {
        margin: 0;
        padding: 0;
        font-size: 0;
        content: "#{$i}";
        width: calc(100% / #{ceil(sqrt($i))});
        height: calc(100% / #{round(sqrt($i))});
      }
    }
  }

  .video-remote {
    width: inherit;
    height: inherit;
  }

  .message-new {
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    width: 100%;
    font-size: 'x-large';
    text-align: center;
    outline: none;
    height: 40px;
  }

  .conversation {
    position: absolute;
    top: 0;
    left: 25%;
    height: calc(100% - 40px);
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    .message {
      position: relative;
      overflow: hidden;
      margin: 0 0 5px;
      clear: both;
      font-size: 14px;
      text-align: left;
      float: left;
      color: $white;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      @include animation-name(slideFromLeft);
      &.system {
        font-size: 12px;
        color: $grey;
        &.info {
          color: $info;
        }
        &.warn {
          color: $warning;
        }
        &.error {
          color: $danger;
        }
        @include animation-name(slideFromRight);
      }
    }
  }

  .btn-circle {
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  .btn-hang {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
  }

  .btn-call {
    position: absolute;
    top: 5px;
    right: 5px;
  }
