<webrtc-participants></webrtc-participants>
<webrtc-conversation></webrtc-conversation>
<video autoplay muted class="video-self"></video>
<button type="button" class="btn btn-cam btn-success btn-circle">
<i class="fa fa-video-camera" aria-hidden="true"></i>
    </button>
<button type="button" class="btn btn-mute btn-success btn-circle">
    <i class="fa fa-deaf" aria-hidden="true"></i>
</button>
<button type="button" class="btn btn-call btn-success btn-circle">
    <i class="fa fa-sign-in" aria-hidden="true">
</button>
<button type="button" class="btn btn-hang btn-danger btn-circle">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
</button>
